#main-card {
    border: 1px solid lightgray;
}

#title {
    font-size: 50px;
    color: white;
}

main {
    min-height: 20vh;
    display: grid;
    place-items: center;
}


main {
    min-height: 100vh;
    background-color: #620808;
    display: grid;
    place-items: center;
}

#game-board {
    display: flex;
    margin-bottom: 25px;
    flex-direction: column;
  }
  
  .letter-box {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 3px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  
  .filled-box {
    border: 2px solid black;
  }
  
  .letter-row {
    display: flex;
  }