#main-card {
    border: 1px solid lightgray;
}

#title {
    font-family: "Georgia", serif;
    font-size: 140px; 
    color:white /* originally at 40px*/
}
#titleNew {
    font-family: "Georgia", serif;
    font-size: 80px; 
    color:white /* originally at 40px*/
}

#to-page {
    font-size: 50px;
    color: #620808;
    border-width :4px;background-color:white;padding-right:85px;padding-left:85px;padding-top:8px;padding-bottom:8px;
}

#to-intro {
    font-size: 30px;
    color: #620808;
    border-width :4px;background-color:white;padding-right:85px;padding-left:85px;padding-top:8px;padding-bottom:8px;
}

main {
    padding-top: 120px;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

#para {
    margin-right: 40px;
    margin-left: 40px;
    font-size: 20px;
    color:white
}
