#main-card {
    border: 1px solid lightgray;
}

#title {
    font-size: 100px; 
    color:white /* originally at 40px*/
}

#to-page {
    font-size: 50px;
    color: white;
    border-width :4px; border-style:solid;border-color:white;padding: 10px;

}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

